@model Student
@{
    // Layout = "_Layout1";
    ViewBag.Title = "Details of student";

}


<h1 class="alert alert-danger">@Model.Name   ::   @Model.Email   ::  @Model.Age  ::  @Model.department.Name</h1>


